<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-alert"
      version="0.1.0">

    <name>cordova-plugin-alert</name>
    <description>Display native modal dialogs in your cordova app using unified API</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
    <repo>https://github.com/chemerisuk/cordova-plugin-alert</repo>
    <issue>https://github.com/chemerisuk/cordova-plugin-alert/issues</issue>

    <js-module src="www/Alert.js" name="Alert">
        <clobbers target="cordova.plugins.Alert" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=3.5.0"/>
    </engines>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Alert">
                <param name="ios-package" value="AlertPlugin" />
                <param name="onload" value="false" />
            </feature>
        </config-file>

        <header-file src="src/ios/AlertPlugin.h" />
        <source-file src="src/ios/AlertPlugin.m" />
        <header-file src="src/ios/HCSStarRatingView.h" />
        <source-file src="src/ios/HCSStarRatingView.m" />
    </platform>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Alert">
                <param name="android-package" value="by.chemerisuk.cordova.AlertPlugin" />
                <param name="onload" value="false" />
            </feature>
        </config-file>

        <framework src="com.android.support:appcompat-v7:26.+" />

        <source-file src="src/android/AlertPlugin.java"
            target-dir="src/by/chemerisuk/cordova/" />
    </platform>

</plugin>